* {
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
	padding: 0;
	border: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
}

main {
  margin-top: 12px;
}

h1 {
  font-size: 32px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

table { 
  border-collapse: collapse; 
}

thead {
  border-bottom: 1px solid #000;
}

th, td {
  text-align: center;
  padding: 4px 6px;
}

header h1 {
  margin-left: 6px;
}

tbody tr {
  border-bottom: 1px solid #d3d3d3;
}

#app {
  height: 100vh;
}

.table-container {
  margin: 0 20px;
}

.repo-description {
  text-align: left !important;
}

.repo-no {
  font-weight: bold;
}